.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.justify-between {
    padding-top: 14px;
    padding-bottom: 8px;
    justify-content: space-between;
}

.btn {
    padding: 0.8rem 3rem;
    font-size: 1rem;
    font-weight: 800;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    border-radius: 4px;
    text-transform: uppercase;
    transition: all .3s ease;
}

.btn-primary {
    background-color: rgb(104, 176, 220);
    color: rgb(0, 0, 0)
}

.btn-primary:hover {
    background-color: transparent;
    border-color: lightskyblue;
    color: lightskyblue;
}

.btn-secondary {
    background: transparent;
    color: var(--color3);
    border-color: var(--color3);
}

.btn-secondary:hover {
    background: var(--color3);
    color: var(--color2);
}

.flex-1 {
    flex: 1rem;
}

.justify-center {
    justify-content: center;
}
